<div class="form-group">
  <%- if controller_name != 'sessions' %>
    <%= link_to t(".sign_in"), root_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to t(".sign_up"), new_registration_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to t(".forgot_your_password"), new_password_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to t('.didn_t_receive_confirmation_instructions'), new_confirmation_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to t('.didn_t_receive_unlock_instructions'), new_unlock_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.omniauthable? %>
  <div class="text-center">
    <%- resource_class.omniauth_providers.each do |provider| %>
      <% if provider.to_s == "google_oauth2" %>
        <%= link_to(omniauth_authorize_path(resource_name, provider),class: "btn btn-primary p-3 mt-4")  do %>
          <span><i class="fab fa-google fa-3x mx-2"></i> <%= t('sign in with Google', provider: OmniAuth::Utils.camelize(provider)) %></span>
        <% end %>
        <br>
      <% else %>
        <%= link_to(omniauth_authorize_path(resource_name, provider),class: "btn btn-primary p-3 mt-4")  do %>
          <span><i class="fab fa-<%= provider %>-f fa-3x mx-2"></i> <%= t('.sign_in_with_provider', provider: OmniAuth::Utils.camelize(provider)) %></span>
        <% end %>
        <br>
      <% end %>
    <% end -%>
  <% end -%>
  </div>
</div>
