<%= form_with(model: order, local: true,multipart: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    </br>
    </br>
    <%= form.label :category %>
    <%= select(:order, :category, [['breakfast', 'breakfast'], ['lunch', 'lunch'], ['dinner', 'dinner']] , {}, {class: 'form-control'}) %>
    </br>
    </br>
  </div>

  <div class="field">
    </br>
    </br>
    <%= form.label :from %>
    <p>write the resturant name</p>
    <%= form.text_field :from ,class:"form-control" %>
    </br>
    </br>
  </div>


  <div class="field">
    </br>
    </br>
    <%= label_tag(:order_menu, "menu") %>
    <%= form.file_field :menu %>
    </br>
    </br>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>

