<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @order.from %>
</p>

<p>
  <strong>Category:</strong>
  <%= @order.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>
<% if @order.menu.attached? %>
  <p>
    <strong>menu:</strong>
    <%= image_tag(@order.menu) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
